@media only screen and (min-width: 1200px){
	main{
		width: 1000px;
	}
	
	.Avatar{
		position: relative;
		top: 35px;
		left: 35px;
	}
}

@media only screen and (min-width: 992px) and (max-width: 1199.90px){
	main{
		width: 900px;
	}

	.Avatar{
		position: relative;
		top: 35px;
		left: 35px;
	}
}

@media only screen and (min-width: 768px) and (max-width: 991.90px){
	main{
		width: 700px;
	}

	.Avatar{
		position: relative;
		top: 35px;
		left: 35px;
	}
}

@media only screen and (max-width: 767.90px){
	main{
		max-width: 500px;
		height: auto;
	}

	.HeaderMainContainer{
		height: 350px;
		justify-content: center;
		padding-bottom: 30px;
	}

	.HeaderMainContent{
		grid-template-columns: 1fr;
		grid-template-rows: 1fr auto;
		grid-row-gap: 50px;
	}

	.Avatar{
		position: relative;
		top: 35px;
		left: 50%;
		transform: translateX(-50%);
	}

	.NameAndPositionApplied{
		text-align: center;
		overflow: visible;
	}

	.ButtonDownload{
		margin: 0 auto;
	}

	.AboutMainContent{
		grid-template-columns: 1fr;
		grid-template-rows: auto auto;
	}

	@keyframes TopMainAnimation{
		0%{
			margin-bottom: -50px;
			opacity: 0;
		}
		100%{
			margin-bottom: 0;
			opacity: 1;
		}
	}
}