@media only screen and (min-width: 920px) and (max-width: 1165px){
	.MainSectionContainer{
		width: 920px;
	}
}

@media only screen and (max-width: 919px){
	main{
		grid-template-columns: 1fr;
	}

	.MainSectionContainer{
		width: 100%;
	}
}